<head>
    <title>Send Csv with API</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <h1>Select Send File</h1>
    <input id="csv_file" type='file' accept=".csv">
    <input id="send" type='button' value="send">
</body>
<script>
    $('#send').click(function(){
        let file = $('#csv_file')[0].files[0];
        let formData = new FormData();
        formData.append('csv_file', file);
        $.ajax({
            url : 'http://localhost:8001/save_file',
            processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
            contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
            data: formData,  //위에서 선언한 fromdata
            type: 'POST',
            success: function (result) {
                alert(result + " 파일 전송에 성공하였습니다.");
                location.reload();
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    })
</script>